#galeria{
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

#galeria h2{
    font-size: 1.8em;
    color: #007BFF;
}

@media(max-width: 768){
    .social-links li a {
        color: #007BFF;
    }

    h2 {
        color: #007BFF;
    }
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery .photo img {
    transition: transform 0.3s eas, box-shadow 0.3s eas;
}

.gallery .photo img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.photo{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.photo:hover{
    transform: scale(1.1)
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


#lightbox.hidden {
    visibility: hidden;
    opacity: 0;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#lightbox.visible {
    visibility: visible;
    opacity: 1;
}

#lightbox img{
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}


#close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
}

#close-lightbox:hover {
    color: red;
}

section{
    margin: 20px;
    padding: 20px;
    border: 1px soli #DDD;
    border-radius: 10px;
    background-color: #FFF;
}

section h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

.fotos-animais, .fotos-pessoas, .fotos-paisgens {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.fotos-animais img, .fotos-pessoas img, .fotos-paisgens img {
    border: 2px solid #CCC;
    border-radius: 5px;
}
