body{
    font-family: Aria, sans-rerif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    color: #212529;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #007BFF;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover{
    color: #FFD700;
}
header{
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

#galeria{
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

#galeria h2{
    font-size: 1.8em;
    color: #007BFF;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery .photo img {
    transition: transform 0.3s eas, box-shadow 0.3s eas;
}

.gallery .photo img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.photo{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

photo:hover{
    transform: scale(1.1)
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


#lightbox.hidden {
    visibility: hidden;
    opacity: 0;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#lightbox.visible {
    visibility: visible;
    opacity: 1;
}

#lightbox img{
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}


#close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
}

#close-lightbox:hover {
    color: red;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: white;
}

.social-links {
    list-style-type: none; /* Remover os marcadores */
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.social-links li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s eas;
}

.social-links li a:hover {
    color: #FFD700;
}